<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<body style="background:#86a7c2;">
    <div class="container">
        <div class="card" style="margin-top:50px">
            <div class="card-body">
                <h1>Edit</h1>
                <div class="form-group">
                    <form method="POST">
                        {% csrf_token %}
                
                        {{form}}
                        <br><br>
                        <button class="btn btn-primary mr-3">Edit</button>
                        <a href="{% url 'home' %}" class="btn btn-secondary">Cancel</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

